<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      body { font-family: 'Calibri'; /* Use Calibri font */ }
    </style>

  </head>

  <body>
    <div>
      <div>{{text}}</div>
      <p>This is a test email to confirm that the mail sending functionality in our web application is working
        correctly. Thank you for your participation!</p>
      <p>As part of this test, we're also providing you with the GitHub link to our project:
        <a href="https://github.com/sagarkrios/Mail_Sending.git">https://github.com/sagarkrios/Mail_Sending.git</a>.</p>
      <p>Additionally, we've provide a YouTube video refernce tutorial on how to setup project. You can watch the
        tutorial here:</p>
      <ul>
        <li><a
            href="https://youtu.be/QDIOBsMBEI0?si=v4jQgJOm7IUIb8Rm"
          >https://youtu.be/QDIOBsMBEI0?si=v4jQgJOm7IUIb8Rm</a></li>
        <li><a
            href="https://youtu.be/lBRnLXwjLw0?si=Q1ek_jhuEqGwlwCK"
          >https://youtu.be/lBRnLXwjLw0?si=Q1ek_jhuEqGwlwCK</a></li>
        <li><a
            href="https://youtu.be/abw96dX-3bs?si=U_mT7rbgklsublrL"
          >https://youtu.be/abw96dX-3bs?si=U_mT7rbgklsublrL</a></li>
      </ul>

      <p>We appreciate your help in testing our application. If you have any questions or encounter any issues, please
        don't hesitate to reach out to us.</p>
      <br />
      <div>Best regards,</div>
      <br />
      <div style="font-weight: bold;">Sagar Patil</div>
      <div style="font-weight: bold;">React Developer</div>
      <div>Phone: +91-7058660287</div>
      <br />
    </div>
  </body>
  <script>
  </script>

</html>